In [7]:
import sqlite3

banco = sqlite3.connect('projeto_compras.db')

In [10]:
cursor = banco.cursor()

In [ ]:
cursor.execute('CREATE TABLE pessoas(nome text,idade integer, email text)')

cursor.execute('INSERT INTO pessoas VALUES ("Maria",40,"Maria@gmail.com")')

banco.commit()

In [13]:
cursor.execute('SELECT * FROM usuarios')

print(cursor.fetchall())

[(1, 'Cledison Santos', '555'), (2, 'Hilda', '999'), (3, 'Aluno', '123')]