In [1]:
import sqlite3

conexao = sqlite3.connect('BD/projeto_compras.db')
cursor = conexao.cursor()

In [ ]:
cursor.close()

In [ ]:
cursor.execute('CREATE TABLE pessoas(nome text,idade integer, email text)')

cursor.execute('INSERT INTO pessoas VALUES ("Maria",40,"Maria@gmail.com")')

conexao.commit()

In [ ]:
cursor.execute('SELECT * FROM usuarios')

print(cursor.fetchall())

In [12]:
cursor.execute('DELETE FROM usuarios WHERE id = ?',(5,))
conexao.commit()

In [ ]:
id = None
name = 'noé'
senha = 202
cursor.execute('INSERT INTO USUARIOS VALUES(?,?,?)',(id,name,senha,))
conexao.commit()

cursor.execute('SELECT * FROM usuarios')
print(cursor.fetchall())

In [ ]:
input_login_ = 'Hilda'
input_senha_ = 999

cursor.execute('SELECT * FROM usuarios\
            WHERE nome = ? AND senha = ?',(input_login_,input_senha_))

login = cursor.fetchone()

if login:
    print(login)
else:
    print('Not iloc')


conexao.close()

In [12]:
lista = cursor.execute('SELECT * FROM usuarios ORDER BY nome ASC')

for i in lista:
    print(i)

(3, 'Aluno', '123')
(1, 'Cledison Santos', '555')
(2, 'Hilda', '999')
(37, 'fddfgd', 'sdfgfdgd')
(7, 'josé', '123')
(34, 'maikon', '456765415')
(0, 'noé', '9090')
(11, 'noé', '9090')
(12, 'noé', '9090')
(13, 'noé', '9090')
(14, 'noé', '9090')
(20, 'noé', '303')
(21, 'noé', '202')
(22, 'noé', '202')
(35, 'ola', 'maijon')
(10, 'olá', '4567')
(28, 'olá ', 'mundo')
(29, 'olá ', 'mundo')
(30, 'olá ', 'mundo')
(31, 'olá ', 'mundo')
(32, 'olá ', 'mundo')
(33, 'olá ', 'mundo')
(8, 'pedro', '123')
(36, 'sklskj', 'shokhsks')
(9, 'tela', '1234')
(6, 'victor', '123')
(27, 'victor', 'heitzman')