In [7]:
import sqlite3

banco = sqlite3.connect('projeto_compras.db')

In [10]:
cursor = banco.cursor()

In [ ]:
cursor.execute('CREATE TABLE pessoas(nome text,idade integer, email text)')

cursor.execute('INSERT INTO pessoas VALUES ("Maria",40,"Maria@gmail.com")')

banco.commit()

In [13]:
cursor.execute('SELECT * FROM usuarios')

print(cursor.fetchall())

[(1, 'Cledison Santos', '555'), (2, 'Hilda', '999'), (3, 'Aluno', '123')]

In [23]:
import sqlite3 

conexao = sqlite3.connect('BD\projeto_compras.db')
cursor = conexao.cursor()

In [25]:
valor = 

cursor.execute("""INSERT INTO USUARIOS VALUES(null),?,?)""""),('noé',9090)
conexao.commit()

cursor.execute('SELECT * FROM usuarios')
print(cursor.fetchall())


conexao.close()

[(0, 'noé', '9090'), (1, 'Cledison Santos', '555'), (2, 'Hilda', '999'), (3, 'Aluno', '123'), (4, 'José', '987'), (5, 'vinicius', '9987'), (6, 'victor', '123'), (7, 'josé', '123'), (8, 'pedro', '123'), (9, 'tela', '1234'), (10, 'olá', '4567'), (11, 'noé', '9090'), (12, 'noé', '9090'), (13, 'noé', '9090'), (14, 'noé', '9090'), (15, 'noé', '9090')]