In [5]:
import sqlite3

banco = sqlite3.connect('primeiro_banco.db')

In [7]:
cursor = banco.cursor()

In [ ]:
cursor.execute('CREATE TABLE pessoas(nome text,idade integer, email text)')

cursor.execute('INSERT INTO pessoas VALUES ("Maria",40,"Maria@gmail.com")')

banco.commit()

In [13]:
cursor.execute('SELECT * FROM pessoas')

print(cursor.fetchall())

[('Maria', 40, 'Maria@gmail.com'), ('Victor', 25, 'victor@gmail.com')]

In [12]:
cursor.execute('INSERT INTO pessoas VALUES ("Victor",25,"victor@gmail.com")')
banco.commit()